.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hero-overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
}

.btn-red {
  @apply bg-red-600 px-6 py-3 text-lg rounded transition-transform duration-200;
}
.btn-red:hover {
  @apply scale-105 bg-red-700;
}
